.cart{
    position: relative;
    border: 1px solid #ccc;
    transform: scaleY(0.98);
    height:auto;
    text-align: center;
   
}
.amount span{
    color: crimson;
    padding: 0 20px;
}
.amount button{
    width: 40px;
    height: 40px;
    border: 1px solid #777;
}
.delete{
    position: absolute;
    top:0;
    right: 5px;
    color: crimson;
    font-weight: 900;
    cursor: pointer;
}
.total{
    margin: 0 auto;
    height: 50px;
    display: flex;
    flex-direction: column;
    

    
    
}
.total h3{
    color: black;
}

.shipping{
    font-weight: bold;
}