.product_card{
    max-width: 500px;
    overflow: hidden;
    height: 540px;
    padding: 15px;
    box-shadow: 0 0 15px #ddd;
    margin: 10px 0;
    position: relative;
}

.product_box h5{
    width: 100%;
    text-align:center;
     text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
    color: #323232;
}
.product_card span{
    display:flex;
    justify-content:center;
    font-weight:bold;
    padding:10px;
}
.product_box p{
    width:100%;
    font-weight:bold;
    text-align:center;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 40px;
     overflow: hidden; 
    color: #323232;
}
.row_btn{
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}
.row_btn a{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
}
.row_btn a:hover{
    color: black;
}
#btn_buy{
    background: #555;
    margin-right: 5px;
}
#btn_view{
    background: #3f51b5;
    margin-left: 5px;
}
.product_card input{
    position: absolute;
    width: 25px;
    height: 25px;
}

.view{
    text-align: center;
}