.detail{
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    font-size: 150%;
}
.detail img{
    max-width: 550px;
    height: 350px;
    margin: 20px;
    
    object-fit: cover;
    display: block;
}
.box-detail{
    display: flex;
    flex-direction: column;
    align-items:center;
    max-width: 500px;
    
    width: 100%;
    margin: 5px 20px;
}
.box-detail .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-detail h2{
    text-transform: uppercase;
    color: darkblue;
    letter-spacing: 2px;
    font-weight: 2rem;
}
.box-detail p{
    font-weight:bold;
    line-height: 1.5;
    margin: 10px 0;
    opacity: 0.8;
}
/* .box-detail .cart{
    
    
    background: #333;
    color: white;
    margin-top: 10px;
    padding: 10px 25px;
 
    text-transform: uppercase;
    letter-spacing: 2px;
} */

/* .button{
    font-size: 1.2rem;
     height: 50px;
     padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-items: center;
    background: #333;
    color: white;
    
     transform: scaleY(0.98);
} */

.nav-link{
    color: white;
}

.contact-form{
   display:flex;
   flex-direction:column;
   justify-content:center;
   width:250px;
    
    
}

.modal-content{
    display:flex;
    align-items:center;
}

.modal-body{
    
    display:flex;
    justify-content:center;
    margin:0 auto;
}

a.cart {
    width: 50%;
    border: 1px solid black;
    border-radius:5px;
    color: white;
    background-color: #3f51b5;
    text-decoration: none;
}
a.cart:hover{
    color: black;
    
}

button.btn.btn-primary{
    background-color: #3f51b5;
}

button.btn.btn-primary:hover{
    color:black;
    background-color: #3f51b5;
     
}
.subject1{
    text-transform: uppercase;
    font-size: small;
}
.send{
    background-color:#3f51b5;
    color:white;
}
.detail.cart{
    height:175vh;
}